WpfTestDemo/obj/
WpfTestDemo/bin/
WpfTestDemo/.vs/
WinFormsApp/obj/
WinFormsApp/InteractivePictureBox/bin/
WinFormsApp/InteractivePictureBox/obj/
WinFormsApp/.vs/
ModuleA/obj/
ModuleB/obj/
ModuleC/obj/
PrismDemo/.vs/
PrismDemo/obj/
ConsoleApp/.vs/
ConsoleApp/bin/
ConsoleApp/obj/
