WpfTestDemo/obj/
WpfTestDemo/bin/
WpfTestDemo/.vs/
WinFormsApp/obj/
WinFormsApp/InteractivePictureBox/bin/
WinFormsApp/InteractivePictureBox/obj/
WinFormsApp/.vs/
ModuleA/obj/
ModuleB/obj/
ModuleC/obj/
PrismDemo/.vs/
PrismDemo/obj/
ConsoleApp/.vs/
ConsoleApp/bin/
ConsoleApp/obj/
Async/.vs/
Qt/QTreeWidget/build-QTreeWidget-Desktop_Qt_5_12_4_MSVC2017_32bit-Release/
Qt/QTreeWidget/build-QTreeWidget-Desktop_Qt_5_12_4_MSVC2017_32bit-Debug/
