<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<!--<target name="mqFile" xsi:type="Console" layout="${longdate} ${callsite} ${level} ${message}"/>-->
			<target name="LogFile" xsi:type="File" fileName="${basedir}/Log/${shortdate}/LogFile.txt" layout="${longdate} ${message} ${exception:format=tostring}" />
		</targets>
		<rules>
			<logger name="System" minlevel="Debug" writeTo="LogFile" />
		</rules>
	</nlog>
</configuration>